.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: lightgrey;

  h3 {
    font-family: "Aldrich", sans-serif;
  }

  a {
    text-decoration: none;
    color: #242635;
    display: block;
    float: right;
    padding: 10px;
    font-family: "Aldrich", sans-serif;
  }
  a:hover {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 5px;
  }

  i {
    display: none;
  }
}
